
@import 'semantic';
@import 'weather'; 
//@import 'add-to-homescreen';

/* My Styles */

#cheney i,
#spokane i,
#d1 i{
    color: teal; 
    font-size: 10em; 
}


 /*CUSTOM BACKGROUND*/

.bg-1{
    background: grey;
}


