
@import 'semantic';
@import 'weather'; 
//@import 'add-to-homescreen';

/* My Styles */

#cheney i,
#spokane i,
#d1 i,
#d2 i,
#d3 i{
    color: #b9883a; 
    font-size: 10em; 
}



/*COLOR
off white: #e2dfd3
grey: #c7c0b9
sea foam: #95b8a8
teal: #4a7768
gold: #b9883a



*/

body{
    background: #4a7768;
    width: 70%;
    margin: 0 auto;
    text-align: center;
}


h1{
    color: #95b8a8;
    padding-top: 2%;
}

#title,
h3{
    color: #95b8a8
}

h3 {
    padding-bottom: 5px;
    border-bottom: solid #95b8a8 1px;
    width: 30%;
    margin: 0 auto;
}

#city1,
#city2 {
    font-size: 3em;
}

#temp1,
#temp2 {
    font-size: 3em;
    text-decoration: none;
    list-style: none;
}